<launch>

  <!-- Uncomment the line below if you are launching from turtlebot -->
  <!-- <include file="$(find turtlebot_bringup)/launch/minimal.launch" /> -->

  <!-- Uncomment the line below and change <your_servoing_node> -->
  <!-- <node pkg="fontys_minor_ar_ros_a2" name="<your_servoing_node>" type="<your_servoing_node>.py"/> -->

  <!-- Run RVIZ (Comment line below if running from robot)-->
  <include file="$(find fontys_minor_ar_ros_a2)/launch/rviz.launch" />

</launch>
